/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 5px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

section.alternate-background-host {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
}

/* ---  Groups & Items --- */

.group-row {
  display: flex;
  flex-direction: row;
}

.center {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-self: center;
  
}

.group {
  display: flex;
  flex-direction: column;
  margin: 2px;
}

.item {
  flex: 1;
  margin: 2px;
}

.group-about {
  display: flex;
  flex-direction: column;
}

.item-about {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 36px;
  color: #fff;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  padding-left: 0;
  list-style: none;
}

header nav ul li {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
  margin-right: 5px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  width: auto;
}

header nav ul li:last-child a {
  margin-right: 0;
}

/* -------  Search Form ------- */

form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-around; 
  border: 2px solid #ff385c;
  padding: 20px;
}

form label {
  padding-right: 5px;
  font-weight: bold;
  flex: 1;
}

form select,
form input {
  margin-bottom: 20px;
  flex: 2;
}

form button {
  display: flex;
  flex-direction: column;
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 20px 120px;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */
@media all and (min-width: 480px) {

/* -------  General Styles ------- */

  h2 {
    font-size: 48px;
    font-weight: 400;
    margin: 0 10px 10px 10px;
    text-align: center;
  }

  section.alternate-background h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
  
    margin: 20px;
  }

  section.alternate-background-host {
    display: flex;
    flex-direction: row;
    flex: 1;
    background-color: #00a699;
    color: #fff;
  }

  section.ideas {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin: 10px 10px;
}
  
  /* ---  Groups & Items --- */

  .group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  .group-row {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 10px;
  }

  .group-about {
    display: flex;
    flex-direction: row;
  }
  
  .item {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 5px;
}

  .item-double {
    display: flex;
    flex-direction: row;
    align-self: center;    
    width: 100%;
  }

  .item-about {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin: 10px;
  }  

  .center {
  display: flex;
  justify-content:flex-end;
}

/* -------  Navigation ------- */

  header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 30px;
  }

  .logo {
    display: flex;
    font-family: "Pangolin", cursive;
    font-size: 72px;
  px;
    color: #fff;
    padding-top: 25px;
  }

  header nav {
    font-size: 36px;
    padding-top: 20px;
  }

  header nav ul li {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    margin-right: 10px;
  }

  header nav ul li a:hover {
    color: #bdbdbd;
    text-decoration: none;
  }

/* -------  Search Form ------- */

  form {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  border: 2px solid #ff385c;
  }

  form button {
    display: flex;
    background-color: #ff385c;
    border: none;
    color: #fff;
    font-size: 24px;
    text-align: center;
    padding: 20px 50px;
  }

  .group-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}